{% extends "saasy/base.html" %}

{% block title %}Saasy - Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col">
      {% include "./includes/settings_menu.html" with active="dashboard" %}
    </div>

    <div class="col-9">

    <h2>Organizations</h2>

    <div class="row">
      {% for org in organizations %}
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/180x100.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <hr>

    <h2>Projects</h2>
    
    <div class="row">
      {% for project in projects %}
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/180x100.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <hr>

    <h2>Teams</h2>

    <div class="row">
      {% for team in teams %}
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/180x100.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    </div>
  </div>
</div>

{% endblock %}
