{% extends "saasy/base.html" %}

{% block title %}Organization Detail{% endblock %}

{% block content %}

  <div class="row">
    <div class="col">
      {% include "./includes/settings_menu.html" with active="organization" %}
    </div>

    <div class="col-9">
      <h2>Organization: {{ object.name }}</h2>
      <hr>
      Details

      <hr>
      <div class="row">
        <div class="col">
          <h4>Projects</h4>
        </div>
        <div class="col-4 text-right">
          <a href="{% url "saasy:project-create" %}?org={{ object.slug }}" class="btn btn-light btn-lg active btn-sm" role="button" aria-pressed="true">Add Project</a>
        </div>
      </div>

      {% if object.projects.all %}
      <ul class="list-group">
      {% for project in object.projects.all %}<li class="list-group-item d-flex justify-content-between align-items-center"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>{% endfor %}
      </ul>
      {% else %}
      <i>No projects yet</i>
      {% endif %}

      <hr>
      <div class="row">
        <div class="col">
          <h4>Teams</h4>
        </div>
        <div class="col-4 text-right">
          <a href="{% url "saasy:team-create" %}?org={{ object.slug }}" class="btn btn-light btn-lg active btn-sm" role="button" aria-pressed="true">Add Team</a>
        </div>
      </div>

      <ul class="list-group">
      {% for team in object.teams.all %}<li class="list-group-item d-flex justify-content-between align-items-center"><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></li>{% endfor %}
      </ul>

      <hr>
      <div class="row">
        <div class="col">
          <h4>Members</h4>
        </div>
        <div class="col-4 text-right">
          <a href="{{ object.get_membership_url }}" class="btn btn-light btn-lg active btn-sm" role="button" aria-pressed="true">Invite Member</a>
        </div>
      </div>


      {% if object.memberships.all %}
      <ul class="list-group">
      {% for membership in object.memberships.all %}<li class="list-group-item d-flex justify-content-between align-items-center"><a href="#">{{ membership.profile.slug }}</a></li>{% endfor %}
      </ul>
      {% else %}
      <i>No members yet</i>
      {% endif %}



    </div>
  </div>

{% endblock %}
