{% extends "saasy/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Project Edit{% endblock %}

{% block content %}

  <div class="row">
    <div class="col">
      {% include "./includes/settings_menu.html" with active="project" %}
    </div>

    <div class="col-9">
      <h2>Project: {% if object %}{{ object.name }}{%else%}Add{%endif%}</h2>
      <hr>
        <form method="post" action="{% if object %}{{ object.get_update_url }}{%else%}{% url 'saasy:project-create' %}{%endif%}">
          {% csrf_token %}
          {{ form|crispy }}
          <a class="btn btn-warning" href="{% url 'saasy:project-list' %}" role="button">Cancel</a> <button type="submit" class="btn btn-primary">{% if object %}Update{%else%}Add{%endif%}</button>
        </form>
    </div>
  </div>

{% endblock %}
